.profile-container {
  margin: 32px auto;
  max-width: 1180px;
  padding: 0 30px;
  width: 100%;
}

.profile-container > header {
  align-items: center;
  display: flex;
}

.profile-container > header > span {
  font-size: 20px;
  margin-left: 24px;
}

.profile-container > header > img {
  height: 64p;
}

.profile-container > header > a {
  margin-left: auto;
  margin-top: 0;
  width: 260px;
}

.profile-container > header > button {
  background-color: transparent;
  border: 1px solid #dcdce6;
  border-radius: 4px;
  height: 60px;
  margin-left: 16px;
  transition: border-color 0.2s;
  width: 60px;
}

.profile-container > header > button:hover {
  border-color: #999;
}

.profile-container > h1 {
  margin: 80px 0 24px;
}

.profile-container > ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
  list-style: none;
}

.profile-container > ul > li {
  background-color: #fff;
  border-radius: 8px;
  padding: 24px;
  position: relative;
}

.profile-container > ul > li > button {
  border: 0;
  background-color: transparent;
  position: absolute;
  right: 24px;
  top: 24px;
}

.profile-container > ul > li > button:hover {
  opacity: 0.8;
}

.profile-container > ul > li > strong {
  color: #41414d;
  display: block;
  margin-bottom: 16px;
}

.profile-container > ul > li > p + strong {
  margin-top: 32px;
}

.profile-container > ul > li > p {
  color: #737380;
  font-size: 16px;
  line-height: 22px;
}
