.logon-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 100vh;
  margin: 0 auto;
  max-width: 1120px;
  width: 100%;
}

.logon-container > .form {
  max-width: 350px;
  margin-right: 30px;
  width: 100%;
}

.logon-container > .form > form > h1 {
  font-size: 32px;
  margin-bottom: 32px;
}
